<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>834E210A1F5F5D1700BC8F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E211E1F5F5D1800BC8F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E21291F5F5D1800BC8F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
